/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
}


/*---------------------------------------------*/

.d-none {
    height: 1000px;
}

.content {
    position: relative;
    float: left;
    height: 1000px;
    width: 1085px;
    margin-top: 45px;
}

.row {
    flex-direction: row;
    justify-content: center;
}

.info {
    height: 100px;
    width: 200px;
    margin: 20px;
    background-color: aqua;
}

.graphs {
    display: flex;
    justify-content: center;
}

.item {
    width: 920px;
    height: 200px;
    background-color: aqua;
}